table {
    border-collapse: collapse;
}

.bugsList {
    margin: 0 5rem;
    transition-duration: .4s;
}

.bugsList__table {
    width: 100%;
}

.bugsList__tableRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(182, 182, 182);
    padding: 1em 0;
    border-bottom: solid .5px rgb(182, 182, 182);
}

.bugsList__tableDataRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(182, 182, 182);
    padding: 1em 0;
    border-bottom: solid .5px rgb(182, 182, 182);
    cursor: pointer;
}

.bugsList__tableDataRow:hover {
    background-color: rgba(128, 128, 128, 0.27);
}

.bugsList__notStarted {
    font-size: .9rem;
    color: white;
    background-color: rgb(212, 90, 51);
    padding: 2px 10px;
    border-radius: 15px;
}

.bugsList__inProgress {
    font-size: .9rem;
    color: white;
    background-color: rgb(62, 212, 51);
    padding: 2px 10px;
    border-radius: 15px;
}

.bugsList__resolved {
    font-size: .9rem;
    color: white;
    background-color: rgb(148, 148, 148);
    padding: 2px 10px;
    border-radius: 15px;
}

@media all and (max-width: 700px) {
    .bugsList {
        margin: 0 2rem;
        transition-duration: .4s;
    }
}