
.bugs__notStarted {
    font-size: .9rem;
    text-align: center;
    color: white;
    background-color: rgb(212, 90, 51);
    padding: 2px 10px;
    width: 97px;
    border-radius: 15px;
}

.bugs__inProgress {
    font-size: .9rem;
    text-align: center;
    color: white;
    background-color: rgb(62, 212, 51);
    padding: 2px 10px;
    width: 97px;
    border-radius: 15px;
}

.bugs__resolved {
    font-size: .9rem;
    text-align: center;
    color: white;
    background-color: rgb(148, 148, 148);
    padding: 2px 10px;
    width: 97px;
    border-radius: 15px;
}

.bugs__button1 {
    color:rgb(255, 255, 255);
    background-color: rgb(0, 119, 255);
    margin-right: 1em;
    padding: .5em 1em;
    border: none;
    box-shadow: 0px 2px 5px rgba(21, 21, 21, 0.687);
    cursor: pointer;
}

.bugs__button2 {
    color:rgb(255, 255, 255);
    background: none;
    padding: .37em .87em;
    border: solid 2px rgb(0, 119, 255);
    box-shadow: 0px 2px 5px rgba(21, 21, 21, 0.687);
    cursor: pointer;
}

.bugs__button3 {
    color:rgb(255, 255, 255);
    background-color: rgb(194, 50, 50);
    margin-right: 1em;
    padding: .5em 1em;
    border: none;
    box-shadow: 0px 2px 5px rgba(21, 21, 21, 0.687);
    cursor: pointer;
}

.bugs__button4 {
    color:rgb(255, 255, 255);
    background: none;
    padding: .37em .87em;
    border: solid 2px rgb(194, 50, 50);
    box-shadow: 0px 2px 5px rgba(21, 21, 21, 0.687);
    cursor: pointer;
}

.bugs__button1:hover {
    background-color: rgb(1, 80, 172);
}

.bugs__button2:hover {
    border: solid 2px rgb(1, 80, 172);
}

.bugs__button3:hover {
    background-color: rgb(154, 42, 42);
}

.bugs__button4:hover {
    border: solid 2px rgb(154, 42, 42);
}

/* Forms */

.bugs__input--invalid {
    background-color: pink;
    border: solid 0;
    border-radius: 2px;
}

.bugs__errorMsg {
    font-size: .8rem;
    color: red;
    margin: 0;
}
