
.sideMenu {
    z-index: 2;
    position: fixed;
    left: -350px;
    background: linear-gradient(to bottom, rgb(19, 19, 19), rgb(31, 31, 31));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    width: 350px;
    transition-duration: .4s;
}
.sideMenu--active {
    z-index: 2;
    position: fixed;
    left: 0;
    background: linear-gradient(to bottom, rgb(19, 19, 19), rgb(31, 31, 31));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    width: 350px;
    transition-duration: .4s;
}

.sideMenu__linksWrapper {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sideMenu__link {
    display: flex;
    color: rgb(182, 182, 182);
    padding: 1rem 1.5rem 1rem 5rem;
    text-decoration: none;
    transition-duration: .4s;
}

.sideMenu__link:hover {
    background-color: rgba(128, 128, 128, 0.27);
}

.sideMenu__link--active {
    display: flex;
    color: rgb(182, 182, 182);
    background-color: black;
    padding: 1rem 1.5rem .85rem 5rem;
    text-decoration: none;
    border-bottom: solid 2px rgb(0, 119, 255);
    cursor: initial;
    transition-duration: .4s;
}

@media screen and (max-width: 700px) {
    .sideMenu__link {
        padding-left: 2rem;
        transition-duration: .4s;
    }

    .sideMenu__link--active {
        padding-left: 2rem;
        transition-duration: .4s;
    }
}