
.bugInfo {
    color: rgb(182, 182, 182);
    margin: 0 5rem;
    transition-duration: .4s;
}

.bugInfo__statusButton {
    font-size: .95rem;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 119, 255);
    margin: .5em 0;
    padding: .3em 1em;
    width: 125px;
    border: none;
    box-shadow: 0px 2px 5px rgba(21, 21, 21, 0.687);
    cursor: pointer;
}

.bugInfo__statusButton--disabled {
    font-size: .95rem;
    color:rgba(255, 255, 255, 0.306);
    background-color: rgba(0, 119, 255, 0.306);
    margin: .5em 0;
    padding: .3em 1em;
    width: 125px;
    border: none;
    box-shadow: 0px 2px 5px rgba(21, 21, 21, 0.687);
    pointer-events: none;
} 

.bugInfo__statusButton:hover {
    background-color: rgb(1, 80, 172);
}

.bugInfo__form {
    
}

@media all and (max-width: 700px) {
    .bugInfo {
        margin: 0 2rem;
        transition-duration: .4s;
    }
}
