.page__header {
    z-index: 1;
    position: sticky;
    top: 4.3rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(182, 182, 182);
    background-color: rgb(19, 19, 19);
    padding: .84em 5rem;
    transition-duration: .4s;
}

@media all and (max-width: 700px) {
    .page__header {
        padding: .84em 2rem;
        transition-duration: .4s;
    }
}
